# Requirements file for tests

pytest < 5.0.0; python_version < '3.0'
pytest == 6.2.2; python_version >= '3.0'
pytest-cov == 2.11.1
pytest-mock == 3.5.1; python_version >= '3.5'
pytest-mock == 1.12.1; python_version < '3.5'

sqlalchemy == 1.4.2
